body {
    text-align: center;
    background-color: #00bbaa;
    margin: 0;
}

h1 {
    position: relative;
    align-items: center;
    display: flex;
    text-transform: uppercase; 
    font-family: sans-serif;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: linear-gradient(130deg, #003366 64.5%, #660000 65%);
    margin-top: 0;
    margin-bottom: 0;
}

h1 a:first-child {
    display: flex;
    text-decoration: none;
    font-size: 40px;
    color: cyan;
    white-space: nowrap;
}

h1 a:first-child::before {
    display: flex;
    transform: scale(300%);
    margin-right: 10%;
    content: url("./logo.png");
    width: 40px;
    height: 40px;
}

h1 a:last-child {
    display: flex;
    text-decoration: none;
    align-self: flex-end;
    margin-left: auto;
    font-size: 30px;
    color: cyan;
    white-space: nowrap;
}

h1 a:last-child::before {
    display: flex;
    content: url("./phone.png");
    margin-left: auto;
    margin-right: 5%;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    background-color: #002C2C;
    color: white;
}

nav a:not(.search) {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}

nav a:not(.search):hover {
    text-decoration: underline;
    border-radius: 10px;
    background-color: #003C3C;
}

nav a:not(.search):active {
    color: #00EEEE;
}

nav a.search {
    font-size: 15px;
    margin-left: 25px;
    padding: 10px 20px;
    justify-content: flex-end;
    border-radius: 10px;
}

nav a.search button {
    padding: 5px 10px;
    background-color: #001515;
    color: white;
    border-color: #000000;
    border-radius: 4px;
}

nav a.search button:active {
    padding: 5px 10px;
    background-color: #001C1C;
    border-width: 2px;
    color: #00FFFF
}
section {
    display: inline-block;
    width: 47%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #006060;
    margin-left: auto;
    margin-right: auto;
}

section.warning {
    width: 96%;
}

section.warning strong {
    color: #FF6060;
}

section.image img {
    width: 100%;
    height: auto;
}
