body {
    text-align: center;
    background-color: #00bbaa;
    margin: 0;
}

h1 {
    position: relative;
    align-items: center;
    display: flex;
    text-transform: uppercase; 
    font-family: sans-serif;
    padding-left: 7%;
    padding-right: 7%;
    background: linear-gradient(130deg, #003366 64.5%, #660000 65%);
    margin-top: 0;
    margin-bottom: 0;
}

h1 a:first-child {
    margin: 0;
    display: flex;
    text-decoration: none;
    height:120px;
    font-size: 40px;
    color: cyan;
    white-space: nowrap;
    transform: translateY(30%);
}

h1 a:first-child::before {
    display: flex;
    margin-right: 10%;
    content: url("./logo.png");
    transform: translateY(-30%);
}

h1 a:last-child {
    display: flex;
    text-decoration: none;
    transform: translateY(-100%);
    height:37px;
    align-self: flex-end;
    margin-left: auto;
    font-size: 30px;
    color: cyan;
    white-space: nowrap;
}

h1 a:last-child::before {
    display: flex;
    content: url("./phone.png");
    margin-left: auto;
    margin-right: 5%;
}

nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    background-color: #002C2C;
    color: white;
}

nav a:not(.search) {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}

nav a:not(.search):hover {
    text-decoration: underline;
    border-radius: 10px;
    background-color: #003C3C;
}

nav a:not(.search):active {
    color: #00EEEE;
}

nav a.search {
    font-size: 15px;
    margin-left: 25px;
    padding: 10px 20px;
    justify-content: flex-end;
    border-radius: 10px;
}

nav a.search button, #submit {
    padding: 5px 10px;
    background-color: #001515;
    color: white;
    border-color: #000000;
    border-radius: 4px;
}

nav a.search button:active, #submit {
    padding: 5px 10px;
    background-color: #001C1C;
    border-width: 2px;
}

div.row {
    display: flex;
}

h2 {
    font-size: 28px;
}

section {
    width: 46%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #006060;
    margin-left: auto;
    margin-right: auto;
}

section.warning {
    width: 95%;
}

section.warning strong {
    color: #FF0000;
}

section.image {
    margin-right: 0.5%;
    position: relative;
    background-image: url("surgery.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}

section.image h2 {
    align-items: center;
    display: inline-block;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    margin-top: 20%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
}

section.image p {
    align-items: center;
    display: inline-block;
    padding: 3%;
    background-color: rgb(219, 219, 0);
    border-radius: 10%;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section.video {
    display: flex;
    margin-left: 0.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.video h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

section.video video {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

section.question {
    width: 60%;
}

section.question form {
    text-align: left;
}

*.checkbox p {
    display: flex;
    align-items: center;
}

*.ask {
    margin: 1%;
    margin-left: 3%;
}

*.ask {
    display: flex;
}

*.ask label {
    float: left;
    width: 20%;
}

*.ask label::after {
    content: ":";
}

*.ask input:not(.message) {
    width: 40%;
}

*.ask input.message {
    width: 80%;
}

#submit {
    width: 100%;
}