body {
    text-align: center;
    background-color: #00ccbb;
    margin: 0;
}

section {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-transform: uppercase; 
    font-family: sans-serif; 
    padding: 20px 10px;
    background-color: #006666;
    margin-top: 0;
    margin-bottom: 0;
}

h1 a:first-child {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

h1 a:last-child {
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-top: 5px;
    color: white;
}

h1 a:last-child::before {
    display: inline-block;
    content: url("./phone.png");
    margin-right: 25px;
    filter: invert(1);
    height: 30px;
    width: 30px;
    transform: scale(5%) translateY(-1070%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    background-color: #004C4C;
}

nav a {
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-radius: 10px;
    background-color: #005C5C;
}
