body {
    text-align: center;
    background-color: #00ccbb;
    margin: 0;
}

h1 {
    text-transform: uppercase; 
    font-family: sans-serif; 
    padding: 20px 10px;
    background-color: #006666;
    margin-top: 0;
    margin-bottom: 0;
}

h1 a:first-child {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

h1 a:last-child {
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

h1 a:last-child::before {
    display: inline-block;
    content: url("./phone.png");
    margin-right: 25px;
    filter: invert(1);
    height: 30px;
    width: 30px;
    transform: scale(5%) translateY(-1200%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

h1 a:hover {
    text-decoration: underline;
}

h1 a:active {
    color: #00FFFF;
}

nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    background-color: #002C2C;
    color: white;
}

nav a:not(.search) {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
}

nav a:not(.search):hover {
    text-decoration: underline;
    border-radius: 10px;
    background-color: #003C3C;
}

nav a:not(.search):active {
    color: #00EEEE;
}

nav a.search {
    font-size: 15px;
    margin-left: 25px;
    padding: 10px 20px;
    justify-content: flex-end;
    border-radius: 10px;
}

nav a.search button {
    padding: 5px 10px;
    background-color: #001515;
    color: white;
    border-color: #000000;
    border-radius: 4px;
}

nav a.search button:active {
    padding: 5px 10px;
    background-color: #001C1C;
    border-width: 2px;
    color: #00FFFF
}
section {
    display: inline-block;
    width: 48%;
    border-radius: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    padding: 5px 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    background-color: #00A1A1;
    margin-left: auto;
    margin-right: auto;
}

section.image img {
    width: 100%;
    height: auto;
}
